h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-family: "proxima-nova";
}

html, body{
	font-family: "proxima-nova";
}

body{
	background-color: #000;
	color: #fff;
}

a{
	text-decoration: none;
}

.container{
	width: 100%;
	max-width: 1900px;
	margin-right: auto;
	margin-left: auto; 
	padding: 0 3rem;
	margin-bottom: 4rem;

	&:after{
		content:'';
		display: table;
		clear:both;
	}
}

.subcontainer{
	width: 100%;
	padding: 1.5rem;
	border: 1px solid #545454;
	display: table;
}

.description-group{
	display: table-cell;
	vertical-align: middle;
}

.img-group{
	display: table-cell;
	vertical-align: middle;

	padding: .5rem;
	border: 1px solid $border-color;
	box-shadow: 0 0 0 $main-color;
	@include animation(.2s ease-in);

	&:hover{
		border-color: $main-color;
		opacity: .9;
	}

	img{
		width: 100%;
		height: auto;
	}
}

.top-group{
	h3{
		line-height: 2.2em;
		margin-bottom: 1em;
		display: inline-block;
    	text-align: right;
	}
}

.text{
	font-size: 1em;
	color: $text-color;
}

.bottom-group,
.btns-group{
	margin-top: 2em;
}

.title-section{
	text-transform: uppercase;
	display: block;

	&.bold{
		font-weight: 900;
		font-size: 3.5rem;
	}

	&.thin{
		font-weight: 300;
		font-size: 2rem;
		color: #545454;
		letter-spacing: 1rem;
	}
}

.btns-group{
	width: 90%;
}

.btn{
	width: 49%;
    display: inline-block;
    padding: .8em 0;
    border-width: 2px;
    border-style: solid;
    text-align: right;
    letter-spacing: .4rem;
    font-size: .7em;
    font-weight: 300;
	color: $light-color;
	position: relative;
	text-transform: uppercase;

	&:before{
		content:'';
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		bottom: 0;
		z-index: -1;
		@include animation(.2s ease-in-out);
	}

	&:hover{
		&:before{
			top: 0;
		}
	}

	&.btn-go-online{
		border-color: $go-online-color;
		&:before{
			background-color: $go-online-color;
		}
	}

	&.btn-view-code{
		border-color: $view-code-color;
		&:before{
			background-color: $view-code-color;
		}
	}

	&.get-in-touch{
		border-color: $get-in-touch-color;
		&:before{
			background-color: $get-in-touch-color;
		}
	}

	&.not-avaiable{
		border-color: $not-avaiable-color;
		color: $not-avaiable-color;
		cursor: not-allowed;

		&:before{
			background-color: transparent;
		}
	}
}


.job-list{
	.bottom-group{
		h4{
			line-height: 1.5em;
   			margin-bottom: 1em;

			.title-section{
				&.bold{
					font-size: 2em;
				}

				&.thin{
					font-size: 1.2em;
					letter-spacing: .5rem;
				}
			}
		}
	}
}

