#the-professional-section{
    .job-list{
        li{
            margin-top: 2em;
        }
        .img-group{
            vertical-align: bottom;
        }

        .description-group{
            width: 40%; 
            vertical-align: bottom;
            padding-left: 1em;
        }
    }
}