.the-background-section{
    .general-list{
        ul{
            li{
                margin-top: 1em;
                display: block;
                padding: .8em 1em;
                border: 1px solid $border-color;

                &.highlight{
                    border-color: $highlight-color;
                }

                &.diff{
                    border-color: $diff-color;
                }

                .name-list{
                    font-size: 1.4em;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: 11px;
                    display: block;
                    color: #404040;
                }

                p{
                    text-transform: uppercase;

                    .info{
                        color: #404040;
                    }

                    a{
                        color: #fff;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    .description{
                        letter-spacing: .2em;
                    }
                }
            }
        }
    }
}