#the-about-section{
    .description-group{
        width: 60%;
        vertical-align: bottom;
        padding-left: 1em;
        text-align: left;

        .bottom-group{
            .get-in-touch{
                width: 40%;
            }
        }
    }
}