#the-experimental-section{
    .job-list{
        li{
            width: 30%;
            float: left;
            margin-top: 2em;

            &:nth-child(3n+2){
                margin-right: 5%;
                margin-left: 5%;
            }

            &:nth-child(3n+4){
                clear: both;
            }
        }

        .img-group{
            display: block;
            width: 100%;
            float: left;
            margin-bottom: 1em;
        }

        .description-group{
            width: 100%;
            display: block;
        }
    }
}