@mixin animation($string){
	-webkit-transition: $string;
	-moz-transition: $string;
	-ms-transition: $string;
	-o-transition: $string;
	transition: $string;
}

@mixin transform($string){
	-webkit-transform: $string;
	-moz-transform: $string;
	-ms-transform: $string;
	-o-transform: $string;
	transform: $string;
}

@mixin shadow($string){
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	-ms-box-shadow: $string;
	-o-box-shadow: $string;
	box-shadow: $string;
}