// color theme
$main-color: #01dbee;
$title-color: #fff;
$text-color: #b5b5b5;
$dark-color: #000;
$light-color: #fff;
$border-color: #545454;
$go-online-color:#ee014a;
$view-code-color: #01dbee;
$get-in-touch-color: #eed201;
$highlight-color:#ee014a;
$diff-color:#8101ee;
$not-avaiable-color: #404040;